In [6]:
basket = open("fruits.csv", 'r')   
print(basket.read())  # displays the entire text content
basket.close()  # be sure to close the file

no,fruit,amount
1,Banana,4 lb
2,Orange,5 lb
3,Apple,2 lb
4,Strawberry,6 lb
5,Cherry,3 lb

In [4]:
with open("fruits.csv", 'r', encoding="utf-8") as file:
    print(file.read())

no,fruit,amount
1,Banana,4 lb
2,Orange,5 lb
3,Apple,2 lb
4,Strawberry,6 lb
5,Cherry,3 lb

In [5]:
import csv  # loads csv module

with open("fruits.csv", 'r', newline = '', encoding = 'utf-8') as file:  # newline kullanmasak da olur.
    csv_rows = csv.reader(file)  # reader() function takes each
                                 # row (lines) into a list
    for row in csv_rows: 
        print(row)

['no', 'fruit', 'amount']
['1', 'Banana', '4 lb']
['2', 'Orange', '5 lb']
['3', 'Apple', '2 lb']
['4', 'Strawberry', '6 lb']
['5', 'Cherry', '3 lb']

In [11]:
import csv

with open("fruits.csv", 'r', newline = '', encoding = 'utf-8') as file:
    csv_rows = csv.reader(file, delimiter= ":")  # gives the same output as the previous one
                                                 # The default value of the delimiter parameter is ",".
                                                 # : koydugumuzda her bir stir tek bir liste olur.
    for row in csv_rows: 
        print(row)

['no,fruit,amount']
['1,Banana,4 lb']
['2,Orange,5 lb']
['3,Apple,2 lb']
['4,Strawberry,6 lb']
['5,Cherry,3 lb']

In [8]:
import csv 

with open("fruits.csv", 'r', newline = '', encoding = 'utf-8') as file:
    csv_rows = csv.reader(file, delimiter = ':')  # we specified a char ":" that is not used
                                                  # in the csv file as a value of delimiter
    for row in csv_rows: 
        print(row)

['no,fruit,amount']
['1,Banana,4 lb']
['2,Orange,5 lb']
['3,Apple,2 lb']
['4,Strawberry,6 lb']
['5,Cherry,3 lb']

In [2]:
import csv
with open("people.csv", 'r', encoding="utf-8") as file:
    print(file.read())

row_number, first_name, last_name, ages
1., Isabella, Bold, 22
2., Lara, Bold, 12
3., Solomon, Bold, 46
4., Adam, Smithson, 40
5., Mose, Smithson, 51

In [12]:
import csv
with open("people.csv", 'r', newline = '', encoding="utf-8") as file:
    csv_rows = csv.reader(file, delimiter= "-")
    for row in csv_rows: 
        print(row)

['row_number, first_name, last_name, ages']
['1., Isabella, Bold, 22']
['2., Lara, Bold, 12']
['3., Solomon, Bold, 46']
['4., Adam, Smithson, 40']
['5., Mose, Smithson, 51']

In [8]:
import csv
with open("people_cpy.csv", 'r', newline = '', encoding="utf-8") as file:
    csv_rows = csv.reader(file, delimiter= "-")
    for row in csv_rows: 
        print(list(row[:2]))
# people_cpy.csv dosyasinda , yerine - kullanildi.

['row_number', 'first_name']
['1.', 'Isabella']
['2.', 'Lara']
['3.', 'Solomon']
['4.', 'Adam']
['5.', 'Mose']

In [16]:
import pandas as pd
df = pd.read_csv("people.csv", index_col = 0)

In [17]:
df

            first_name  last_name   ages
row_number
1.0           Isabella       Bold     22
2.0               Lara       Bold     12
3.0            Solomon       Bold     46
4.0               Adam   Smithson     40
5.0               Mose   Smithson     51

In [25]:
import pandas as pd
df = pd.read_csv("fruits.csv", sep = ",", index_col = 0)

In [26]:
df

         fruit amount
no
1       Banana   4 lb
2       Orange   5 lb
3        Apple   2 lb
4   Strawberry   6 lb
5       Cherry   3 lb