In [1]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

print(state_capitals)

state_capitals['Virginia'] = 'Richmond' # adding a new item

print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta'}
{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta', 'Virginia': 'Richmond'}

In [2]:
state_capitals = {'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta'}
print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta'}

In [5]:
dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)

print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [11]:
print(dict_by_dict.items(), '\n') # ogeleri (key, value) icine yazar
print(dict_by_dict.keys(), '\n') # key'leri verir
print(dict_by_dict.values()) # values verir

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'neptun', 40, 3.14, True])

In [12]:
del dict_by_dict['animal']

print(dict_by_dict)

{'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [13]:
print('pi' in dict_by_dict) 
print('animal' not in dict_by_dict)  # remember, we have deleted 'animal'

True
True

In [24]:
student_ages = {"Harry": 29,
                "Clark": 32,
                "Peter": 22,
                "Bruce": 36
                }
#print(student_ages.values(Clark))
student_ages['Clark'] #key kullanilir.

32

NEST LIST

In [2]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
        
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}
print(school_records)

{'personal_info': {'kid': {'tom': {'class': 'intermediate', 'age': 10}, 'sue': {'class': 'elementary', 'age': 8}}, 'teen': {'joseph': {'class': 'college', 'age': 19}, 'marry': {'class': 'high school', 'age': 16}}}, 'grades_info': {'kid': {'tom': {'math': 88, 'speech': 69}, 'sue': {'math': 90, 'speech': 81}}, 'teen': {'joseph': {'coding': 80, 'math': 89}, 'marry': {'coding': 70, 'math': 96}}}}

In [3]:
print(school_records['personal_info']['teen']['marry']['age'])
print(school_records['grades_info']['teen']['joseph'])

16
{'coding': 80, 'math': 89}

In [4]:
print(school_records['grades_info']['teen']['marry']['coding'])

70

In [14]:
friends = {
    "friend1" : {'first' : 'Sue', 'last' : 'Bold'},
    "friend2" : {'first' : 'Steve', 'last' : 'Smith'}
}
print(friends)

family = {
    "family1" : {"first":'Mary', "last":'Tisa'},
    "family2" : {"first":'Samuel', "last":'Brown'},
    "family3" : {"first":'Tom', "last":'Happy'}
}
print(family)

{'friend1': {'first': 'Sue', 'last': 'Bold'}, 'friend2': {'first': 'Steve', 'last': 'Smith'}}
{'family1': {'first': 'Mary', 'last': 'Tisa'}, 'family2': {'first': 'Samuel', 'last': 'Brown'}, 'family3': {'first': 'Tom', 'last': 'Happy'}}

SET