In [1]:
sen = 'Yakup'
print('Ben',2,'sen')

Ben 2 sen

In [4]:
print('ahmet', 'mehmet', 'asli', end='-', sep=',')
print('ahmet', 'mehmet', 'asli')

ahmet,mehmet,asli-ahmet mehmet asli

In [5]:
x = 5
print ('value of x :', x)
x += 2
print ('value of x :', x, '\n')
y = 10
print ('value of y :', y)
y -= 2
print ('value of y :', y, '\n')

value of x : 5
value of x : 7

value of y : 10
value of y : 8

In [6]:
#Task 1
degree = input ('Enter Celsius Temperature to converts it Fahrenheit: ')
Celsius_to_Fahrenheit=(float(degree)*9)/5+32
print(end='\n')
print(float(degree), ' Celsius equal to', Celsius_to_Fahrenheit, ' Fahrenheit')

#Task 2
print(end='\n')
km_distance = input ('Enter a distance in Kilometers to converts it Miles: ')
km_to_mile=(float(km_distance)/1.609344)
print(end='\n')
print(float(km_distance), ' km equal to', km_to_mile, ' miles')

Enter Celsius Temperature to converts it Fahrenheit: 30

30.0  Celsius equal to 86.0  Fahrenheit

Enter a distance in Kilometers to converts it Miles: 24

24.0  km equal to 14.912908613696015  miles

In [12]:
degree = input ('Enter Celsius Temperature to converts it Fahrenheit: ')
def Celsius_to_Fahrenheit(degree):
    Celsius_to_Fahrenheit = (float(degree)*9)/5+32
    print(end='\n')
    print(float(degree), ' Celsius equal to', Celsius_to_Fahrenheit, ' Fahrenheit')
    return
Celsius_to_Fahrenheit(degree)

Enter Celsius Temperature to converts it Fahrenheit: 30

30.0  Celsius equal to 86.0  Fahrenheit

In [13]:
#Task 2 Fonk
print(end='\n')
km_distance = input ('Enter a distance in Kilometers to converts it Miles: ')
def km_to_mile (km_distance):
	km_to_mile=(float(km_distance)/1.609344)
	print(end='\n')
	print(float(km_distance), ' km equal to', km_to_mile, ' miles')
	return
	
km_to_mile (km_distance)

Enter a distance in Kilometers to converts it Miles: 24

24.0  km equal to 14.912908613696015  miles

In [14]:
print('it\'s essential to learn Phyton\'s libraries in IT World')

it's essential to learn Phyton's libraries in IT World

In [15]:
print("it\'s essential to learn Phyton\'s libraries in IT World")

it's essential to learn Phyton's libraries in IT World

In [49]:
text = "Clarusway,"

print(text, text, text, end='\n')
print( end='\t')
print(text, text, text, end='\n')
print( end='\t')
print( end='\t')
print(text, text, text, end='\b')

Clarusway, Clarusway, Clarusway,
	Clarusway, Clarusway, Clarusway,
		Clarusway, Clarusway, Clarusway,

In [27]:
print(""" 
Clarusway, Clarusway, Clarusway
    Clarusway, Clarusway, Clarusway
        Clarusway, Clarusway, Clarusway
""")

Clarusway, Clarusway, Clarusway
    Clarusway, Clarusway, Clarusway
        Clarusway, Clarusway, Clarusway

In [47]:
text = "Clarusway, Clarusway, Clarusway," + "\n" + "\t" + "Clarusway, Clarusway, Clarusway," + "\n" + "\t" + "\t" + "Clarusway, Clarusway, Clarusway"
print(text)

Clarusway, Clarusway, Clarusway,
	Clarusway, Clarusway, Clarusway,
		Clarusway, Clarusway, Clarusway

In [55]:
'qq' and 'ali' and 'veli'and 'rr'

'rr'

In [56]:
{0} and False or []

[]

In [57]:
{0} or False and []

{0}